@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
	--primary-color: #8e9eab;
	--secondary-color: #eef2f3;
  --darker-btn:#577184;
	--box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --border-radius: 0.8rem;
  --padding: 0.8rem;
}

* {
	box-sizing: border-box;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Body Styling and Font */
body {
	background: var(--primary-color); /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#eef2f3,
		#8e9eab
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#eef2f3,
		#8e9eab
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
}

p {
	font-size: 1.1rem;
}

/* Text Color: #000 and #fff,
Primary Color: #8e9eab,
Secondary Color: #eef2f3
*/

/* Navigation */

li {
	margin: 0 10px;
}

a {
	color: #000;
	padding: 0.5rem;
	text-decoration: none;
	transition: background-color 0.2s ease;
}

nav a:hover {
	background-color: #000;
	color: var(--secondary-color);
	text-decoration: underline;
}

.page-header {
	display: flex;
	width: 100%;
	background: var(--secondary-color);
	padding: 10px;
}

.header-item {
	flex: 0 1 200px;
}

.header-item:last-child {
	flex-grow: 1;
	text-align: right;
}

.nav-list {
	list-style-type: none;
}

.nav-list li {
	display: inline-block;
	margin-right: 15px;
}

/* ////////////////////////////////////////////////////////////////// */

/* Home */
main,
footer,
.info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  position: relative;
}

main.profile {
	display: block;
	min-width: 360px;
	max-width: 700px;
	margin: 100px auto 0 auto;
}

.profile span {
	background: #000;
	color: lightyellow;
	padding: 2px;
}

.profile-img {
	width: 250px;
	float: left;
	border-radius: 50%;
  margin: 0 40px;
}

main .btn {
	color: #000;
}

.social-links {
	display: flex;
  margin-bottom: 10px;
}

.social-links img {
  transition: transform 0.2s ease;
}

.social-links img:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.social-links img {
	margin: 0 10px;
	cursor: pointer;
}

.title {
	text-align: center;
}

footer {
	clear: both;
}

/* /////////////////////////////////////////////////////////////////////// */

/* About */
.about-desc {
	padding: var(--padding);
	text-align: center;
}

table {
	padding: 1rem;
	background-color: var(--secondary-color);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

th,
td {
	border-top: 1px solid #000;
	padding: var(--padding);
}

.mountain-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.sun {
  animation: color-change 10s linear infinite;
}

@keyframes color-change {
  0% {
    fill: #FD3516;
  }

  16.6% {
    fill: #f96229;
  }
  
  33.3% {
    fill: #f9812b;
  }

  49.93% {
    fill: #fc8e1f;
  }

  66.53% {
    fill:#feb125;
  }
  
  82.6% {
    fill: #fce13d;
  }

  100% {
    fill: #FD3516;
  }
}

/* ///////////////////////////////////////////////////////////////////// */
/* Work */
.project-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.project {
	background: #577184;
	border-radius: 5px;
	text-align: center;
	color: var(--secondary-color);
	margin: 0 5px;
	padding: var(--padding);
}

.project a {
	color: var(--secondary-color);
	text-decoration: underline;
}

.project:last-child {
	grid-column: 3/3;
	grid-row: 1/3;
}

/* ///////////////////////////////////////////////////////////////////// */
/* Contact */

.email, .phone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email img, .phone img{
  width: 35px;
  margin-left: 10px;
}

.email .contact-info:hover + img {
  animation: float .5s linear infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, 0px);
  }
}

.phone .contact-info:hover + img {
  animation: shake .4s linear infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.contact-info {
	border-bottom: 3px solid #000;
	border-radius: 0px;
	font-size: 1.5em;
	transition: all 0.1s linear;
	position: relative;
}

.contact-info::before {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: #61a3ff;
	position: absolute;
	left: 0;
	bottom: -3px;
	transform-origin: left;
	transform: scale(0);
	transition: 0.25s linear;
}

.contact-info:hover:before {
	transform: scale(1);
}


.contact-info:visited {
	color: #05676e;
}

.contact-info:hover,
.contact-info:focus {
	border-bottom: none;
}

.contact-info:active {
	color: #489c79;
}

.btn.contact-me {
	padding: 1.2rem;
	margin-top: 1rem;
	background-color: var(--darker-btn);
	border: none;
}

.btn.contact-me a {
	background-color: none;
}

form {
	display: flex;
	flex-direction: column;
	text-align: center;
	background: var(--secondary-color);
	min-width: 400px;
	height: 400px;
	padding: 1rem;
  margin-bottom: 1rem;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

input {
	font-family: inherit;
	border: none;
	border-radius: var(--border-radius);
	padding: 5px;
}

textarea {
	font-size: 1rem;
	font-family: inherit;
	border: none;
	border-radius: var(--border-radius);
}

input:focus,
textarea:focus {
	box-shadow: none;
	border: none;
	outline: none;
}

form .btn,
main .btn,
.btn a {
	color: var(--secondary-color);
}

.btn,
.btn a {
	background-color: var(--darker-btn);
	font-size: 16px;
	cursor: pointer;
	padding: 5px;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	font-weight: bold;
	font-family: inherit;
	letter-spacing: 1px;
	transition: transform 0.1s ease;
}

.btn:hover,
.btn:focus {
	transform: scale(1.05);
}

/* Media Queries */
@media all and (max-width: 500px) {
  main.profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-list {
    grid-template-columns: 1fr;
    gap: 10px
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .project-list {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media all and (max-width: 750px) {
  .project:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
