@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	--primary-green: #86c232;
	--secondary-green: #527c00;
	--primary-gray: #474b4f;
	--text-color: whitesmoke;
	--box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	--border-radius: 0.8rem;
	--padding: 0.8rem;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--primary-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: var(--border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--text-color);
}

/* Body Styling and Font */
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	width: 100%;
}

h1 {
	color: var(--text-color);
	font-size: 2rem;
	font-weight: 700;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--text-color);
}

p {
	font-size: 1.1rem;
	color: var(--text-color);
}

a {
	text-decoration: none;
}

section {
	height: 100vh;
	background-color: #222629;
}

footer {
	background-color: var(--secondary-green);
}

/* Navigation */
li {
	margin: 0 10px;
}

.vl {
	border-right: 1px solid var(--primary-gray);
	height: 30px;
}

.nav-item {
	color: #000;
	padding: var(--padding);
	text-decoration: none;
	transition: background-color 0.2s ease;
	transition: font-size 0.1s ease;
}

.nav-item:hover {
	background-color: var(--primary-gray);
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: bold;
}

.page-header {
	position: fixed;
	top: 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: var(--primary-green);
	opacity: 0.9;
}

.header-item {
	flex: 0 1 200px;
}

.header-item:last-child {
	text-align: right;
}

.nav-list {
	list-style-type: none;
	display: flex;
}

.nav-list li {
	margin-right: 15px;
}

/* ////////////////////////////////////////////////////////////////// */

/* Home */
section,
footer,
section.profile,
.info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.profile span {
	background: #000;
	color: var(--primary-green);
	padding: 2px;
}

.profile-img {
	width: 250px;
	float: left;
	border-radius: 50%;
	margin: 0 40px;
}

section.btn {
	color: #000;
}

.social-links {
	display: flex;
	margin-bottom: 10px;
}

.social-links img {
	transition: transform 0.2s ease;
}

.social-links img:hover {
	transform: scale(1.2);
	opacity: 0.5;
}

.social-links img {
	margin: 0 10px;
	cursor: pointer;
}

.title {
	text-align: center;
}

footer {
	clear: both;
}

/* /////////////////////////////////////////////////////////////////////// */

/* About */
.about-desc {
	padding: var(--padding);
	text-align: center;
}

/* ///////////////////////////////////////////////////////////////////// */
/* Work */
.project-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 10px;
}

.scroll {
	overflow-x: hidden;
	overflow-y: auto;
}

.project {
	background: var(--secondary-green);
	border-radius: 5px;
	text-align: center;
	color: var(--secondary-color);
	margin: 0 5px;
	padding: var(--padding);
}

.project a {
	color: var(--text-color);
}

/* ///////////////////////////////////////////////////////////////////// */
/* Contact */

.email,
.phone {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-green);
	padding: var(--padding);
	margin-bottom: 5px;
	border-radius: var(--border-radius);
}

.email img,
.phone img {
	width: 30px;
	margin-left: 10px;
	background: var(--primary-green);
}

.email .contact-info:hover + img {
	animation: shift 2s linear infinite;
}

@keyframes shift {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}

.phone .contact-info:hover + img {
	animation: shake 0.3s linear infinite;
}

@keyframes shake {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(30deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.contact-info {
	border-bottom: 3px solid #000;
	border-radius: 0px;
	color: var(--primary-gray);
	font-size: 1.5em;
	transition: all 0.1s linear;
	position: relative;
}

.contact-info::before {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: var(--primary-green);
	position: absolute;
	left: 0;
	bottom: -3px;
	transform-origin: left;
	transform: scale(0);
	transition: 0.25s linear;
}

.contact-info:hover:before {
	transform: scale(1);
}

.contact-info:visited {
	color: var(--secondary-green);
}

.contact-info:hover,
.contact-info:focus {
	border-bottom: none;
}

.contact-info:active {
	color: #489c79;
}

.btn.contact-me {
	padding: 1.2rem;
	margin-top: 1rem;
	background-color: var(--secondary-green);
	border: none;
}

.btn.contact-me a {
	background-color: none;
}

form {
	display: flex;
	flex-direction: column;
	text-align: center;
	background: var(--primary-gray);
	min-width: 400px;
	height: 400px;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

label {
	color: var(--text-color);
}

input {
	font-family: inherit;
	border: none;
	border-radius: var(--border-radius);
	padding: 5px;
}

textarea {
	font-size: 1rem;
	font-family: inherit;
	border: none;
	border-radius: var(--border-radius);
}

input:focus,
textarea:focus {
	box-shadow: none;
	border: none;
	outline: none;
}

form .btn,
section .btn,
.btn a {
	color: var(--text-color);
}

.btn,
.btn a {
	background-color: var(--secondary-green);
	font-size: 16px;
	cursor: pointer;
	padding: var(--padding);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	font-weight: bold;
	font-family: inherit;
	letter-spacing: 1px;
	transition: transform 0.1s ease;
}

.btn:hover,
.btn:focus {
	transform: scale(1.05);
}

/* Media Queries */
@media all and (max-width: 400px) {
	.project-list {
		grid-template-columns: 1fr;
		gap: 10px;
	}

	form {
		min-width: 90%;
	}

	.contact-info {
		font-size: 1.2rem;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.project-list {
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		height: 80%;
	}
}
